header {
 color: red;
 background-color: blue;


} html {
    color: blanchedalmond;
    background-color: rgb(255, 140, 0);
}

#po {
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}